<!-- Static navbar -->
<nav class="navbar navbar-expand-md navbar-dark bg-dark">
   <div class='container'>
      <a class="navbar-brand" href="/">
        My Commercial Driver
      </a>
      <button class='navbar-toggler' type='button' data-toggle='collapse' data-target='#navbarCollapseLinks' aria-expanded='false' aria-label='Toggle Navigation'>
        <span class='navbar-toggler-icon'></span>
      </button>

      <div class='collapse navbar-collapse' id='navbarCollapseLinks'>
        <ul class='navbar-nav ml-auto'>

            {% if user.is_authenticated %}

            {% if user.is_superuser %}
                  <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      Admin
                    </a>
                    <div class="dropdown-menu dropdown-menu-left" aria-labelledby="navbarDropdownMenuLink">
                          <a class="dropdown-item" href="/admin">Admin (Backend)</a>
                    </div>
                  </li>
            {% endif %}

          <li class='nav-item'>
            <a href="#" class='nav-link'>Operators</a>
          </li>
{##}
{#          <li class="nav-item dropdown">#}
{#            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">#}
{#              Tee Times#}
{#            </a>#}
{#            <div class="dropdown-menu dropdown-menu-left" aria-labelledby="navbarDropdownMenuLink">#}
{#              <a class="dropdown-item" href="{% url 'all_teetimes' %}">All</a>#}
{#            </div>#}
{#          </li>#}

          <li class='nav-item'>
            <a href="#" class='nav-link'>Drivers</a>
          </li>
{#          <li class="nav-item dropdown">#}
{#            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">#}
{#              Golfers#}
{#            </a>#}
{#            <div class="dropdown-menu dropdown-menu-left" aria-labelledby="navbarDropdownMenuLink">#}
{#              <a class="dropdown-item" href="#">Indexes</a>#}
{#              <a class="dropdown-item" href="#">Rounds</a>#}
{#              <a class="dropdown-item" href="#">Leaderboard</a>#}
{#              <a class="dropdown-item" href="#">Active / Inactive</a>#}
{#            </div>#}
{#          </li>#}

                  <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      {{ user.first_name }}
                    </a>
                    <div class="dropdown-menu dropdown-menu-left" aria-labelledby="navbarDropdownMenuLink">
                      <a class="dropdown-item" href="{% url 'logout' %}">Logout</a>
                    </div>
                  </li>

            {% else %}
                <li class='nav-item'>
                    <a href="{% url 'login' %}" class='nav-link'>Login</a>
                </li>

            {% endif %}

        </ul>

{#        <form class="form-inline ml-auto"  method="GET" role="search" action='{% url "resources" %}'>#}
{#          <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search" name="q" value='{{ request.GET.q }}'>#}
{#          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>#}
{#        </form>#}

      </div>
  </div>
</nav>
